.menu-wrap {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  text-align: left;
  background: #aa345A;
}
.menu {
  width: 100%;
  margin: 0px;
  text-align: left;
}
.menu li {
  margin: 0px;
  list-style: none;
}
.menu a {
  transition: all linear 0.15s;
  color: white;
}
.menu li:hover > a,
.menu .current-item > a {
  text-decoration: none;
  color: white;
  background-color: #FF6600;
}
.menu .arrow {
  font-size: 11px;
  line-height: 0%;
}
.menu > ul > li {
  float: left;
  display: inline-block;
  position: relative;
  font-size: 19px;
}
.menu > ul > li > a {
  padding: 10px 40px;
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
  background: #aa345A;
  color: #FF6600;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.menu li:hover .sub-menu {
  z-index: 1;
  display: block;
  -webkit-animation: fadeIn 0.15s;
  animation: fadeIn 0.15s; 
}
.sub-menu {
  width: 300px;
  padding: 5px 0px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 0;
  background: gray;
  display: none; 
}
.sub-menu li {
  display: block;
  font-size: 16px;
}
.sub-menu li a {
  padding: 10px 30px;
  display: block;
  text-decoration: none;
}
.sub-menu li a:hover,
.sub-menu .current-item a {
  background: #aa345A;
  color: #FF6600;
}